<% layout('layout/boilerplate') %>
    <h2>Edit Movie</h2>
    <form method="post" action="/movies/<%=movie._id%>?_method=PUT">
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="title" class="form-control" id="title" aria-describedby="emailHelp" name="movie[title]"
                value="<%= movie.title%>">

        </div>
        <div class="form-group">
            <label for="res">Resolution</label>
            <input type="text" class="form-control" id="res" placeholder="" name="movie[res]" value="<%= movie.res%>">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" name="movie[year]" value="<%= movie.year%>">
        </div>
        <div class="form-group">
            <label for="poster">Poster Url</label>
            <input type="text" class="form-control" id="poster" name="movie[ImageUrl]" value="<%= movie.ImageUrl%>">
        </div>
        <div class="form-group mb-3">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" name="movie[link]" value="<%= movie.link%>">
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>