<% layout('layout/boilerplate') %>
    <div class="card mb-3 d-flex" style="width: 18rem;">
        <img class="card-img-top" src="<%=movie.ImageUrl%>" alt="<%= movie.title%>">
        <div class="card-body">
            <h5 class="card-title">
                <%=movie.title%>
            </h5>
            <p class="card-text">
                <%=movie.res%>
            </p>
            <p class="card-text">
                <%=movie.rating%>
            </p>
            <p>
                <%=movie.description%>
            </p>
            <a href="<%= movie.link%>" class="btn btn-primary">WATCH</a>
            <a href="/movies/<%= movie._id%>/edit" class="btn btn-info">EDIT</a>
            <form class="d-inline" action="/movies/<%= movie._id%>?_method=DELETE" method="post">
                <button class="btn btn-danger">delete</button>
            </form>

        </div>

    </div>
    <a href="/movies">All Movies</a>